.grid-table.sbitemtable {
    grid-template-columns: 70px minmax(150px, 1.7fr) minmax(150px, 1.7fr) minmax(100px, 1.2fr) minmax(100px, 1.2fr) 160px;
  }
.sb-input-options-table {
    display: grid;
    grid-template-columns: repeat(4, auto);
}
